In [1]:
pip install random-address

Requirement already satisfied: random-address in /Users/adrianrebmann/anaconda3/lib/python3.9/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install names

Requirement already satisfied: names in /Users/adrianrebmann/anaconda3/lib/python3.9/site-packages (0.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import names
import random
import time
from datetime import datetime
import numpy as np
from random import randrange
from datetime import timedelta
from random_address import real_random_address

In [4]:
adress = real_random_address()
print(adress)

{'address1': '105 Gilmore Street', 'address2': '', 'city': 'Glen Burnie', 'state': 'MD', 'postalCode': '21061', 'coordinates': {'lat': 39.176817, 'lng': -76.630884}}

In [5]:
#To generate initial timestamps

def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

Create Customers Table

In [6]:
customers_df = pd.DataFrame(columns = ["CID", "Name","Bank Account"])
for i in range(50):
    customers_df = customers_df.append({'CID':"c"+str(i+1),
                                        'Name':names.get_full_name(),
                                        'Bank Account': 'US'+ str(76-i)+" " + str(3456-i*3)+" "  + str(6854+i*13+67)+" "  + str(3467 - i*7 -789),
                                        } ,
                                       ignore_index=True)
customers_df

/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1027024045.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customers_df = customers_df.append({'CID':"c"+str(i+1),

    CID               Name         Bank Account
0    c1       James Nathan  US76 3456 6921 2678
1    c2         Karen Sell  US75 3453 6934 2671
2    c3    Johnathon Moore  US74 3450 6947 2664
3    c4      Susan Riveria  US73 3447 6960 2657
4    c5      Celeste Bates  US72 3444 6973 2650
5    c6        Diana Plaut  US71 3441 6986 2643
6    c7       Yvonne Gomez  US70 3438 6999 2636
7    c8     Michael Hudson  US69 3435 7012 2629
8    c9       Joseph Lewis  US68 3432 7025 2622
9   c10       Elva Godfrey  US67 3429 7038 2615
10  c11      Paul Langston  US66 3426 7051 2608
11  c12       Bonnie Lucas  US65 3423 7064 2601
12  c13        Debra Reels  US64 3420 7077 2594
13  c14        Ben Parsons  US63 3417 7090 2587
14  c15        James Dolan  US62 3414 7103 2580
15  c16         Chad Cline  US61 3411 7116 2573
16  c17  Gloria Richardson  US60 3408 7129 2566
17  c18       David Ricker  US59 3405 7142 2559
18  c19       Shonta Rucks  US58 3402 7155 2552
19  c20   Latosha Lombardi  US57 3399 7168 2545
20  c21       Carmen Braam  US56 3396 7181 2538
21  c22      Esther Minner  US55 3393 7194 2531
22  c23       Joseph Barth  US54 3390 7207 2524
23  c24     Mildred Little  US53 3387 7220 2517
24  c25       Rufus Hughes  US52 3384 7233 2510
25  c26       Bette Graham  US51 3381 7246 2503
26  c27  Amada Pendergraph  US50 3378 7259 2496
27  c28      Travis Parker  US49 3375 7272 2489
28  c29       Troy Blandon  US48 3372 7285 2482
29  c30         Heidi Loyd  US47 3369 7298 2475
30  c31       Nancy Church  US46 3366 7311 2468
31  c32    Jason Fernandez  US45 3363 7324 2461
32  c33       Sean Bennett  US44 3360 7337 2454
33  c34  Patricia Mcintire  US43 3357 7350 2447
34  c35         Arthur Lee  US42 3354 7363 2440
35  c36       Irene Barnes  US41 3351 7376 2433
36  c37     David Williams  US40 3348 7389 2426
37  c38     Nicholas Henry  US39 3345 7402 2419
38  c39   Eleanor Williams  US38 3342 7415 2412
39  c40    Johnny Jacobsen  US37 3339 7428 2405
40  c41     Angela Quinton  US36 3336 7441 2398
41  c42       Roger Freund  US35 3333 7454 2391
42  c43      Roger Garrett  US34 3330 7467 2384
43  c44           Lee Cruz  US33 3327 7480 2377
44  c45         Amie Brown  US32 3324 7493 2370
45  c46         Maria Frey  US31 3321 7506 2363
46  c47        Jacob Giron  US30 3318 7519 2356
47  c48     Charles Fraser  US29 3315 7532 2349
48  c49        Wendy Mcgee  US28 3312 7545 2342
49  c50         Norma King  US27 3309 7558 2335

Create Product list

In [7]:
# assign data to product list.
products_list = {'PID': ["p1",'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8', 'p9', 'p10', 'p11', 'p12', 'p13', 'p14',
                        'p15', 'p16', 'p17', 'p18', 'p19', 'p20'],
                 'Product Name': ["Echo Show 8",'Fire Stick 4K','Echo','Echo Studio','iPad','Kindle',
                             'iPad Air','MacBook Air',"iPhone 11","Fire Stick","iPhone 11 Pro",
                            "iPad Pro","iPhone X","Echo Dot","Kindle Paperwhite","Echo Plus","iPad mini",
                            "iPhone 8","MacBook Pro","Echo Show 5"],
                 'Price':[173.0, 146.0, 378.0, 340.0, 369.0, 255.0, 472.0, 436.0, 115.0, 460.0, 112.0, 308.0,
                         302.0, 369.0, 271.0, 122.0, 131.0, 340.0, 208.0, 218.0],
                 'Weight': [1.3, 2.4, 1.6, 1.4, 2.1, 2.3, 1.9, 2.8, 0.8, 1.2, 0.7,
                            1.4, 1.3, 1.6, 2.3, 2.8, 1.9,0.6, 3.5,2.5]}
products_df = pd.DataFrame(products_list)
products_df

    PID       Product Name  Price  Weight
0    p1        Echo Show 8  173.0     1.3
1    p2      Fire Stick 4K  146.0     2.4
2    p3               Echo  378.0     1.6
3    p4        Echo Studio  340.0     1.4
4    p5               iPad  369.0     2.1
5    p6             Kindle  255.0     2.3
6    p7           iPad Air  472.0     1.9
7    p8        MacBook Air  436.0     2.8
8    p9          iPhone 11  115.0     0.8
9   p10         Fire Stick  460.0     1.2
10  p11      iPhone 11 Pro  112.0     0.7
11  p12           iPad Pro  308.0     1.4
12  p13           iPhone X  302.0     1.3
13  p14           Echo Dot  369.0     1.6
14  p15  Kindle Paperwhite  271.0     2.3
15  p16          Echo Plus  122.0     2.8
16  p17          iPad mini  131.0     1.9
17  p18           iPhone 8  340.0     0.6
18  p19        MacBook Pro  208.0     3.5
19  p20        Echo Show 5  218.0     2.5

Create Order table

In [8]:
orders_df = pd.DataFrame(columns = ["OID"])

Create items table

In [9]:
items_df = pd.DataFrame(columns = ['IID', 'Price', 'Weight'])

Create Package table

In [10]:
packages_df = pd.DataFrame(columns = ['PaID', 'Price', 'Weight'])

Create events table and the dynamic attributes tables

In [11]:
events_df = pd.DataFrame(columns = ["EID", "Activity","Timestamp",
                                    'Customers','Orders',"Products","Items", "Packages"])

#Dynamic attributes of orders
order_weight_df = pd.DataFrame(columns = ["OWID", "Order_Weight","EID","OID"])
order_price_df = pd.DataFrame(columns = ["OPID", "Order_Price","EID","OID"])

#Dynamic attributes of customers
customer_adress_df = pd.DataFrame(columns = ["CAID", 'Customer_Adress', 'EID', "CID"])

Here we create the log itself

In [12]:
count = 1
Number_of_orders = 2
Max_number_of_products = 2
Max_number_of_items = 2
Remove_prob_item = 0.3
Change_adress_prob = 0.3
Fail_delivery_prob = 0.5
time_between_events= 90000

start = datetime.strptime('1/6/2022 08:30 AM', '%d/%m/%Y %I:%M %p')
end =  datetime.strptime('1/12/2022 6:00 PM', '%d/%m/%Y %I:%M %p')
customer_list= list()
product_list = list()

for i in range(0, Number_of_orders):


    #Initialize customers and retrieve CID
    customer= customers_df.sample()
    CID= customer['CID'].values


    #Initialize products
    product = products_df.sample(n=Max_number_of_products,replace=False)



    #Initialize order_weight
    order_weight = 0

    #Initialize order_price
    order_price = 0

    #Initialize timestamp
    stamp = random_date(start, end)

    #Complete itemlist of this order
    item_list2=[]

    #Add items to order
    for index, row in product.iterrows():
        product_list.append(row["PID"])
        #item_list of a specific product
        item_list=[]

        for item in range(0, random.randint(0, Max_number_of_items)+1):
            item_string = 'i'+str(len(items_df)+1)
            item_list.append(item_string)
            item_list2.append(item_string)

            #print(row["PID"],row["Product Name"], row["Price"], row['Weight'])

            #Items Table
            items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
                                       'Price': row["Price"], 'Weight': row['Weight'],
                                       'Name': row["Product Name"] },ignore_index=True)



            #Calculate the new order_weight
            order_weight += row['Weight']


            #Calculate the new order_price
            order_price += row['Price']


        #Events Table
        events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Add items to order',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1),
                                 'Products': row["PID"],
                                         'Items': item_list},
                                           ignore_index=True)

        orders_df = orders_df.append({'OID': 'o'+str(i+1)},ignore_index=True)
        orders_df = orders_df.drop_duplicates()

        #Order Weight Table
        order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
                                                     'Order_Weight': order_weight,
                                                     'EID': "e"+str(i+count),
                                                     'OID':'o'+str(i+1)},ignore_index=True)
        #Order Price Table
        order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
                                                     'Order_Price': order_price,
                                                     'EID': "e"+str(i+count),
                                                     'OID':'o'+str(i+1)},ignore_index=True)
        if CID[0] not in customer_list:
            #Add customer to the list
            customer_list.append(CID[0])
            #Create a random adress
            adress = real_random_address()


            customer_adress_df = customer_adress_df.append({"CAID": 'CA' + str(len(customer_adress_df)+1),
                                                           'Customer_Adress': adress['address1'] + adress['address2'] +
                                                            ' '+ adress['city'] +
                                                            ' ' + adress['state'] + ' ' + adress['postalCode'],
                                                           'EID': "e"+str(i+count),
                                                           'CID':CID[0] }, ignore_index=True)

        # Increase count
        count = count + 1

        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)


    #Create event Place Order

    #Events Table
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Place Order',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1)},
                                           ignore_index=True)

    # Increase count
    count = count + 1

    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)

    # Create event Pick Item

    for item in item_list2:

        #Events Table
        events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Pick Item',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1),
                                     'Items': item},
                                           ignore_index=True)

          # Increase count
        count = count + 1

        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)


    #Create event Remove Item
    for item in item_list2:
        if random.uniform(0, 1) < Remove_prob_item:
            #print(item)
            #Events Table
            events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Remove Item',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1),
                                     'Items': item},
                                           ignore_index=True)

            #Calculate the new order_weight


            order_weight = order_weight - items_df['Weight'].loc[items_df['IID']==item].item()

            #Order Weight Table
            order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
                                                     'Order_Weight': order_weight,
                                                     'EID': "e"+str(i+count),
                                                     'OID':'o'+str(i+1)},ignore_index=True)

            #Calculate the new order_price
            order_price = order_price - items_df['Price'].loc[items_df['IID']==item].item()

            #Order Price Table
            order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
                                                     'Order_Price': order_price,
                                                     'EID': "e"+str(i+count),
                                                     'OID':'o'+str(i+1)},ignore_index=True)

            item_list2.remove(item)

            # Increase count
            count = count + 1

            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)

            stamp = stamp + timedelta(seconds=time_duration)


    #Create event Pay Order
    #Events Table
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Pay Order',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1)},
                                           ignore_index=True)

    # Increase count
    count = count + 1

    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)

    #Create event Create Package

    #Events Table
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Create Package',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1),
                                  'Items': item_list2,
                                 'Packages': 'pa' + str(len(packages_df)+1)},
                                           ignore_index=True)
    if len(packages_df) != i+count:
      packages_df = packages_df.append({'PaID':'pa' + str(len(packages_df)+1), 'Price': order_price,
                                     'Weight': order_weight}, ignore_index=True)

    # Increase count
    count = count + 1

    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)


    #Events Table
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Send Package',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1),
                                 'Packages': 'pa' + str(len(packages_df))},
                                           ignore_index=True)

    # Increase count
    count = count + 1

    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)

    #Change adress with a certain probability
    if random.uniform(0, 1) < Change_adress_prob:

        events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Change Adress',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1),
                                 'Packages': 'pa' + str(len(packages_df))},
                                           ignore_index=True)

        #Create a random adress
        adress = real_random_address()


        customer_adress_df = customer_adress_df.append({"CAID": 'CA' + str(len(customer_adress_df)+1),
                                                           'Customer_Adress': adress['address1'] +
                                                        adress['address2'] + ' '+ adress['city'] +
                                                        ' ' + adress['state'] + ' ' + adress['postalCode'],
                                                           'EID': "e"+str(i+count),
                                                           'CID':CID[0] }, ignore_index=True)

        # Increase count
        count = count + 1

        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)


        events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Fail Delivery',
                                    'Timestamp': stamp,
                                 'Orders': 'o'+str(i+1),
                                 'Packages': 'pa' + str(len(packages_df))},
                                           ignore_index=True)

        # Increase count
        count = count + 1

        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)


    #Keep failing delivery with a certain probability
    while random.uniform(0, 1) < Fail_delivery_prob:

        events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Fail Delivery',
                                    'Timestamp': stamp,
                                 'Orders': 'o'+str(i+1),
                                 'Packages': 'pa' + str(len(packages_df))},
                                           ignore_index=True)

        # Increase count
        count = count + 1

        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)



    #Create event Deliver Package

    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Deliver Package',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Orders': 'o'+str(i+1),
                                 'Packages': 'pa' + str(len(packages_df))},
                                           ignore_index=True)

    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)

/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:78: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  orders_df = orders_df.append({'OID': 'o'+str(i+1)},ignore_index=True)
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:82: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:98: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customer_adress_df = customer_adress_df.append({"CAID": 'CA' + str(len(customer_adress_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:78: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  orders_df = orders_df.append({'OID': 'o'+str(i+1)},ignore_index=True)
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:82: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:117: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:159: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:173: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:182: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:159: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:173: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:182: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:159: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:173: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:182: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:200: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:218: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:227: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  packages_df = packages_df.append({'PaID':'pa' + str(len(packages_df)+1), 'Price': order_price,
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:240: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:259: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:271: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customer_adress_df = customer_adress_df.append({"CAID": 'CA' + str(len(customer_adress_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:287: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:325: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:78: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  orders_df = orders_df.append({'OID': 'o'+str(i+1)},ignore_index=True)
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:82: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:98: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  customer_adress_df = customer_adress_df.append({"CAID": 'CA' + str(len(customer_adress_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items_df = items_df.append({'IID': 'i'+ str(len(items_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:78: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  orders_df = orders_df.append({'OID': 'o'+str(i+1)},ignore_index=True)
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:82: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_weight_df = order_weight_df.append({'OWID': 'OW' + str(len(order_weight_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  order_price_df = order_price_df.append({'OPID': 'OW' + str(len(order_price_df)+1),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:117: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:137: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:200: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:218: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:227: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  packages_df = packages_df.append({'PaID':'pa' + str(len(packages_df)+1), 'Price': order_price,
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:240: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),
/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/2177936990.py:325: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  events_df = events_df.append({'EID':"e"+str(i+count),

In [13]:
#First order events by timestamps
events_df = pd.DataFrame(events_df)
events_df = events_df.sort_values(by=['Timestamp'])
#Reset the indexes
events_df= events_df.reset_index(drop=True)
events_df= events_df.reset_index()
#Rename column names
events_df=events_df.rename(columns = {'index':'EID_new', 'EID':'EID_old'})
#Rename the values of 'EID_new'
events_df['EID_new'] = events_df['EID_new']+1
events_df['EID_new'] = events_df['EID_new'].astype(str)
events_df['EID_new'] = "e" + events_df['EID_new']
events_df

,EID_new,EID_old,Activity,Timestamp,Customers,Orders,Products,Items,Packages
0,e1,e1,Add items to order,2022-09-02 19:47:00.000000,c6,o1,p1,"[i1, i2]",NaN
1,e2,e2,Add items to order,2022-09-03 16:27:08.417724,c6,o1,p10,"[i3, i4, i5]",NaN
2,e3,e3,Place Order,2022-09-04 03:33:31.266673,c6,o1,NaN,NaN,NaN
3,e4,e4,Pick Item,2022-09-04 14:41:54.145911,c6,o1,NaN,i1,NaN
4,e5,e5,Pick Item,2022-09-05 09:08:09.389084,c6,o1,NaN,i2,NaN
5,e6,e6,Pick Item,2022-09-06 09:45:28.888662,c6,o1,NaN,i3,NaN
6,e7,e7,Pick Item,2022-09-06 23:52:23.194945,c6,o1,NaN,i4,NaN
7,e8,e8,Pick Item,2022-09-07 03:54:43.826989,c6,o1,NaN,i5,NaN
8,e9,e9,Remove Item,2022-09-07 06:20:08.036973,c6,o1,NaN,i1,NaN
9,e10,e10,Remove Item,2022-09-07 17:18:32.934638,c6,o1,NaN,i3,NaN
10,e11,e11,Remove Item,2022-09-08 03:21:44.910524,c6,o1,NaN,i5,NaN
11,e12,e12,Pay Order,2022-09-08 21:00:14.866482,c6,o1,NaN,NaN,NaN
12,e13,e13,Create Package,2022-09-08 21:32:32.788593,c6,o1,NaN,"[i2, i4]",pa1
13,e14,e14,Send Package,2022-09-09 04:58:10.400946,c6,o1,NaN,NaN,pa1
14,e15,e15,Change Adress,2022-09-10 03:38:39.300950,c6,o1,NaN,NaN,pa1
15,e16,e16,Fail Delivery,2022-09-11 00:54:41.524863,NaN,o1,NaN,NaN,pa1
16,e17,e17,Deliver Package,2022-09-11 04:00:04.441960,c6,o1,NaN,NaN,pa1
17,e18,e18,Add items to order,2022-10-29 05:48:19.000000,c34,o2,p5,"[i6, i7]",NaN
18,e19,e19,Add items to order,2022-10-29 20:05:27.730189,c34,o2,p4,[i8],NaN
19,e20,e20,Place Order,2022-10-30 10:12:13.793501,c34,o2,NaN,NaN,NaN
20,e21,e21,Pick Item,2022-10-30 23:19:17.283954,c34,o2,NaN,i6,NaN
21,e22,e22,Pick Item,2022-10-31 15:56:37.108713,c34,o2,NaN,i7,NaN
22,e23,e23,Pick Item,2022-11-01 14:47:27.673583,c34,o2,NaN,i8,NaN
23,e24,e24,Pay Order,2022-11-02 08:01:10.696237,c34,o2,NaN,NaN,NaN
24,e25,e25,Create Package,2022-11-03 04:47:36.026303,c34,o2,NaN,"[i6, i7, i8]",pa2
25,e26,e26,Send Package,2022-11-04 03:39:54.691148,c34,o2,NaN,NaN,pa2
26,e27,e27,Deliver Package,2022-11-04 21:37:04.763831,c34,o2,NaN,NaN,pa2

In [14]:
#For every row in the dynamic attribute table
    #take the EID
    #look it up in the events_df table and retrieve the EID_new save it in a separate variable
    # put that value in the attributes table

for j in range(len(order_weight_df)):
    ID = order_weight_df.loc[j]['EID']
    #order_weight_df.loc[j]['EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID].values.tolist()
    order_weight_df.at[j, 'EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID].values.tolist()[0]

In [15]:



for j in range(len(order_price_df)):
    ID2 = order_price_df.loc[j]['EID']
    order_price_df.at[j, 'EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID2].values.tolist()[0]

In [16]:
for j in range(len(customer_adress_df)):
    ID3 = customer_adress_df.loc[j]['EID']
    customer_adress_df.at[j, 'EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID3].values.tolist()[0]

In [17]:
events_df = events_df.drop(['EID_old'], axis=1)
events_df.rename(columns = {'EID_new':'EID'}, inplace = True)
events_df = events_df.fillna('/')
events_df.head(50)

,EID,Activity,Timestamp,Customers,Orders,Products,Items,Packages
0,e1,Add items to order,2022-09-02 19:47:00.000000,c6,o1,p1,"[i1, i2]",/
1,e2,Add items to order,2022-09-03 16:27:08.417724,c6,o1,p10,"[i3, i4, i5]",/
2,e3,Place Order,2022-09-04 03:33:31.266673,c6,o1,/,/,/
3,e4,Pick Item,2022-09-04 14:41:54.145911,c6,o1,/,i1,/
4,e5,Pick Item,2022-09-05 09:08:09.389084,c6,o1,/,i2,/
5,e6,Pick Item,2022-09-06 09:45:28.888662,c6,o1,/,i3,/
6,e7,Pick Item,2022-09-06 23:52:23.194945,c6,o1,/,i4,/
7,e8,Pick Item,2022-09-07 03:54:43.826989,c6,o1,/,i5,/
8,e9,Remove Item,2022-09-07 06:20:08.036973,c6,o1,/,i1,/
9,e10,Remove Item,2022-09-07 17:18:32.934638,c6,o1,/,i3,/
10,e11,Remove Item,2022-09-08 03:21:44.910524,c6,o1,/,i5,/
11,e12,Pay Order,2022-09-08 21:00:14.866482,c6,o1,/,/,/
12,e13,Create Package,2022-09-08 21:32:32.788593,c6,o1,/,"[i2, i4]",pa1
13,e14,Send Package,2022-09-09 04:58:10.400946,c6,o1,/,/,pa1
14,e15,Change Adress,2022-09-10 03:38:39.300950,c6,o1,/,/,pa1
15,e16,Fail Delivery,2022-09-11 00:54:41.524863,/,o1,/,/,pa1
16,e17,Deliver Package,2022-09-11 04:00:04.441960,c6,o1,/,/,pa1
17,e18,Add items to order,2022-10-29 05:48:19.000000,c34,o2,p5,"[i6, i7]",/
18,e19,Add items to order,2022-10-29 20:05:27.730189,c34,o2,p4,[i8],/
19,e20,Place Order,2022-10-30 10:12:13.793501,c34,o2,/,/,/
20,e21,Pick Item,2022-10-30 23:19:17.283954,c34,o2,/,i6,/
21,e22,Pick Item,2022-10-31 15:56:37.108713,c34,o2,/,i7,/
22,e23,Pick Item,2022-11-01 14:47:27.673583,c34,o2,/,i8,/
23,e24,Pay Order,2022-11-02 08:01:10.696237,c34,o2,/,/,/
24,e25,Create Package,2022-11-03 04:47:36.026303,c34,o2,/,"[i6, i7, i8]",pa2
25,e26,Send Package,2022-11-04 03:39:54.691148,c34,o2,/,/,pa2
26,e27,Deliver Package,2022-11-04 21:37:04.763831,c34,o2,/,/,pa2

In [18]:
#Only keep the relevant customers and products that occur in the log

customers_df = customers_df.loc[customers_df['CID'].isin(customer_list)]
customers_df=customers_df.reset_index(drop=True)
customers_df.head()

products_df = products_df.loc[products_df['PID'].isin(product_list)]
products_df=products_df.reset_index(drop=True)
products_df.head()

   PID Product Name  Price  Weight
0   p1  Echo Show 8  173.0     1.3
1   p4  Echo Studio  340.0     1.4
2   p5         iPad  369.0     2.1
3  p10   Fire Stick  460.0     1.2

In [19]:
customer_adress_df

  CAID                                Customer_Adress  EID  CID
0  CA1  Tyndall Drive Tyndall Air Force Base FL 32403   e1   c6
1  CA2     406 East Waldburg Street Savannah GA 31401  e15   c6
2  CA3        214 South End Road Mount Tabor VT 05739  e18  c34

In [20]:
order_weight_df

  OWID  Order_Weight  EID OID
0  OW1           2.6   e1  o1
1  OW2           6.2   e2  o1
2  OW3           4.9   e9  o1
3  OW4           3.7  e10  o1
4  OW5           2.5  e11  o1
5  OW6           4.2  e18  o2
6  OW7           5.6  e19  o2

In [21]:
order_price_df

  OPID  Order_Price  EID OID
0  OW1        346.0   e1  o1
1  OW2       1726.0   e2  o1
2  OW3       1553.0   e9  o1
3  OW4       1093.0  e10  o1
4  OW5        633.0  e11  o1
5  OW6        738.0  e18  o2
6  OW7       1078.0  e19  o2

In [22]:
items_df

  IID  Price  Weight         Name
0  i1  173.0     1.3  Echo Show 8
1  i2  173.0     1.3  Echo Show 8
2  i3  460.0     1.2   Fire Stick
3  i4  460.0     1.2   Fire Stick
4  i5  460.0     1.2   Fire Stick
5  i6  369.0     2.1         iPad
6  i7  369.0     2.1         iPad
7  i8  340.0     1.4  Echo Studio

In [23]:
packages_df

  PaID   Price  Weight
0  pa1   633.0     2.5
1  pa2  1078.0     5.6

Create DOCEL log format

In [24]:
writer = pd.ExcelWriter('DOCEL_log_1.xlsx', engine='xlsxwriter')

# event table
events_df.to_excel(writer, sheet_name='Events')

#object tables
customers_df.to_excel(writer, sheet_name='Customers')
orders_df.to_excel(writer, sheet_name='Orders')
products_df.to_excel(writer, sheet_name='Products')
items_df.to_excel(writer,sheet_name='Items')
packages_df.to_excel(writer,sheet_name='Packages')

#Attribute tables
customer_adress_df.to_excel(writer, sheet_name='Customer Adress')
order_weight_df.to_excel(writer, sheet_name='Order Weight')
order_price_df.to_excel(writer, sheet_name='Order Price')

In [25]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()

/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1744656341.py:2: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [26]:
order_weight_df

  OWID  Order_Weight  EID OID
0  OW1           2.6   e1  o1
1  OW2           6.2   e2  o1
2  OW3           4.9   e9  o1
3  OW4           3.7  e10  o1
4  OW5           2.5  e11  o1
5  OW6           4.2  e18  o2
6  OW7           5.6  e19  o2

Let us now create the OCEL log

In [27]:
OCEL = pd.merge(events_df, customer_adress_df, how="left",on='EID')
OCEL = pd.merge(OCEL, order_weight_df, how="left",on='EID')
OCEL = pd.merge(OCEL, order_price_df, how="left",on='EID')
OCEL=OCEL.drop(['CAID', 'CID','OWID','OID_x','OPID','OID_y'], axis=1)
OCEL=OCEL.fillna('/')
OCEL

,EID,Activity,Timestamp,Customers,Orders,Products,Items,Packages,Customer_Adress,Order_Weight,Order_Price
0,e1,Add items to order,2022-09-02 19:47:00.000000,c6,o1,p1,"[i1, i2]",/,Tyndall Drive Tyndall Air Force Base FL 32403,2.6,346.0
1,e2,Add items to order,2022-09-03 16:27:08.417724,c6,o1,p10,"[i3, i4, i5]",/,/,6.2,1726.0
2,e3,Place Order,2022-09-04 03:33:31.266673,c6,o1,/,/,/,/,/,/
3,e4,Pick Item,2022-09-04 14:41:54.145911,c6,o1,/,i1,/,/,/,/
4,e5,Pick Item,2022-09-05 09:08:09.389084,c6,o1,/,i2,/,/,/,/
5,e6,Pick Item,2022-09-06 09:45:28.888662,c6,o1,/,i3,/,/,/,/
6,e7,Pick Item,2022-09-06 23:52:23.194945,c6,o1,/,i4,/,/,/,/
7,e8,Pick Item,2022-09-07 03:54:43.826989,c6,o1,/,i5,/,/,/,/
8,e9,Remove Item,2022-09-07 06:20:08.036973,c6,o1,/,i1,/,/,4.9,1553.0
9,e10,Remove Item,2022-09-07 17:18:32.934638,c6,o1,/,i3,/,/,3.7,1093.0
10,e11,Remove Item,2022-09-08 03:21:44.910524,c6,o1,/,i5,/,/,2.5,633.0
11,e12,Pay Order,2022-09-08 21:00:14.866482,c6,o1,/,/,/,/,/,/
12,e13,Create Package,2022-09-08 21:32:32.788593,c6,o1,/,"[i2, i4]",pa1,/,/,/
13,e14,Send Package,2022-09-09 04:58:10.400946,c6,o1,/,/,pa1,/,/,/
14,e15,Change Adress,2022-09-10 03:38:39.300950,c6,o1,/,/,pa1,406 East Waldburg Street Savannah GA 31401,/,/
15,e16,Fail Delivery,2022-09-11 00:54:41.524863,/,o1,/,/,pa1,/,/,/
16,e17,Deliver Package,2022-09-11 04:00:04.441960,c6,o1,/,/,pa1,/,/,/
17,e18,Add items to order,2022-10-29 05:48:19.000000,c34,o2,p5,"[i6, i7]",/,214 South End Road Mount Tabor VT 05739,4.2,738.0
18,e19,Add items to order,2022-10-29 20:05:27.730189,c34,o2,p4,[i8],/,/,5.6,1078.0
19,e20,Place Order,2022-10-30 10:12:13.793501,c34,o2,/,/,/,/,/,/
20,e21,Pick Item,2022-10-30 23:19:17.283954,c34,o2,/,i6,/,/,/,/
21,e22,Pick Item,2022-10-31 15:56:37.108713,c34,o2,/,i7,/,/,/,/
22,e23,Pick Item,2022-11-01 14:47:27.673583,c34,o2,/,i8,/,/,/,/
23,e24,Pay Order,2022-11-02 08:01:10.696237,c34,o2,/,/,/,/,/,/
24,e25,Create Package,2022-11-03 04:47:36.026303,c34,o2,/,"[i6, i7, i8]",pa2,/,/,/
25,e26,Send Package,2022-11-04 03:39:54.691148,c34,o2,/,/,pa2,/,/,/
26,e27,Deliver Package,2022-11-04 21:37:04.763831,c34,o2,/,/,pa2,/,/,/

In [28]:
#Export the OCEL log
writer = pd.ExcelWriter('OCEL_log_1.xlsx', engine='xlsxwriter')

# event table
OCEL.to_excel(writer, sheet_name='Events')

#object tables
customers_df.to_excel(writer, sheet_name='Customers')
orders_df.to_excel(writer, sheet_name='Orders')
products_df.to_excel(writer, sheet_name='Products')
items_df.to_excel(writer,sheet_name='Items')
packages_df.to_excel(writer,sheet_name='Packages')

In [29]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()

/var/folders/3b/7cjmdk4d3ysg59q40b__n0mm0000gn/T/ipykernel_32179/1744656341.py:2: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()